$color-primary: #64958f;
$color-secondary: #065c6f;
$color-tertiary: #faf3dd;
$color-quaternary: #ffbb91;

$color-black: #000;
$color-white: #fff;
$color-bg: #37383d;

$mb: 1rem;

$screen-sm: 575.98px;
$screen-md: 767.98px;
$screen-lg: 991.98px;
$screen-xl: 1199.98px;
$screen-xxl: 1399.98px;