@import 'variables';
@import 'media-query';

// Base style

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: inherit; /* set the inherit here so for 3rd party css is not affected by universal selector */
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: 62.5%; /* 1rem = 10px, 10px / 16px = 62.5% | 10px of the default 16px from browser. easier to set rem */

	@include lg {
		font-size: 50%;
	}
	@include md {
		font-size: 4%;
	}

	@include sm {
		font-size: 43.75%;
	}
}

/* Set the default style */
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.6rem;
}

.wrapper {
	width: 100%;
	background-color: $color-tertiary;
}

// End of Base style

// Button style

.btn-primary {
	background: $color-primary;
	color: $color-black;
	border-radius: 1rem;
	border: none;
	padding: 0.5rem 2rem;
	display: flex;
	border-radius: 2rem;
	justify-content: center;
	align-items: center;
	box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, .5);

	&:hover,
	&:active {
		background-color: $color-primary;
		color: $color-white;
	}
}

// End of Button style

// Header

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .5);

	@include sm {
		height: auto;
		padding: 0px 3rem 10rem;
	}

	.nav {
		width: 100%;
		height: 8rem;
		padding: 0 6rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 100;

		@include lg {
			padding: 0 3rem;
		}

		@include sm {
			position: fixed;
			background-color: $color-white;
			padding: 0 2rem;
		}

		&.sticky {
			background-color: $color-white;
			position: fixed;
			animation: fadeIn .2s;

			@include sm {
				animation: none;
			}
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
			}
			to {
				opacity: 1;
			}
		}

		&__logo {
			height: 5rem;

			@include sm {
				height: 4rem;
			}
		}

		&__toggle-menu {
			display: none;
			width: 3rem;
			height: 3rem;
			background-color: $color-quaternary;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 0 .3rem;
			border-radius: .2rem;
			cursor: pointer;
			transition: all .2s;

			@include sm {
				display: flex;
			}

			&.active {
				.nav__menu-line {
					&--1 {
						transform: translateX(.4rem) rotate(45deg);
						transform-origin: left;
						transition: all .2s;
					}

					&--2 {
						opacity: 0;
						visibility: hidden;
					}

					&--3 {
						transform: translate(.4rem, .1rem) rotate(-45deg);
						transform-origin: left;
						transition: all .2s;
					}
				}
			}
		}

		&__menu-line {
			width: 100%;
			height: .2rem;
			background-color: $color-white;
			opacity: 1;
			visibility: visible;
			transition: all .2s;
		}

		&__list {
			display: flex;
			align-items: center;
			list-style-type: none;

			@include sm {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				display: grid;
				row-gap: 3rem;
				transform: translateY(100%);
				background-color: white;
				justify-items: center;
				padding: 3rem 0;
				opacity: 0;
				visibility: hidden;
				transition: all .2s;

				&.active {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		&__item {
			&:not(:last-child) {
				margin-right: 2rem;
			}
		}

		&__link {
			text-decoration: none;
			color: $color-black;
		}
	}

	.hero {
		max-width: 132rem;
		flex: 1;
		display: grid;
		grid-template-columns: 3fr 2fr;
		align-items: center;
		column-gap: 3rem;

		@include xxl {
			max-width: 114rem;
		}

		@include xl {
			margin: 0 6rem;
		}

		@include sm {
			margin: 18rem 3rem 0;
			align-content: center;
			grid-template-columns: 1fr;
			row-gap: 1rem;
		}

		&__title {
			font-size: 7.8rem;
			font-weight: 900;
			letter-spacing: 0.2rem;
			margin-bottom: $mb;

			@include xl {
				font-size: 5.2rem;
			}

			@include lg {
				font-size: 4.7rem;
			}

			@include sm {
				font-size: 4rem;
			}
		}

		&__text {
			margin-bottom: $mb;
		}

		&__image {
			width: 100%;
		}

		&__btn {
			font-size: inherit;
			border: none;
			background: unset;
			border-bottom: 1px solid black;
			padding: .5rem 0;
		}
	}
}

// End of Header

// Section

.section {
	width: 100%;
	padding: 10rem 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, .5);

	@include sm {
		padding: 10rem 3rem;
	}

	&__header {
		margin: 0 auto 8rem;
		max-width: 80rem;
	}

	&__description {
		font-size: 1.5;
		text-transform: uppercase;
		letter-spacing: .2rem;
		font-weight: 700;
		color: $color-secondary;
	}

	&__title {
		font-size: 4rem;
		letter-spacing: .2rem;

		@include lg {
			font-size: 3.4rem;
		}

		@include md {
			letter-spacing: .1rem;
		}

		@include sm {
			font-size: 3rem;
		}
	}

	&--4 {
		background-color: $color-bg;

		.section__title {
			color: $color-white;
		}
	}
}

// End of Section

// Section--1

.features {
	display: grid;
	grid-auto-flow: dense;
	margin: 0 4rem;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	align-items: center;
	justify-items: center;

	@include sm {
		margin: 0;
		grid-template-columns: 1fr;
	}

	&__feature {
		width: 70%;
	}
	&__icon {
		width: 4rem;
		height: 4rem;
		background-color: $color-primary;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin-bottom: $mb;

		@include sm {
			display: none;
		}
	}

	&__header {
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: .1rem;
		margin-bottom: $mb;
	}
	&__image {
		width: 100%;

		&--2 {
			grid-column: 2 / 3;

			@include sm {
				grid-column: unset;
			}
		}
	}
}

// End of Section-1

// Section--2

.operations {
	width: 100%;
	max-width: 100rem;
	margin: 2rem auto 0;

	.nav-tabs {
		display: grid;
		grid-template-columns: repeat(3, minmax(20rem, 1fr));
		justify-items: center;
		justify-content: center;
		border-bottom: none;
		background-color: $color-primary;
		margin-bottom: -1px;

		@include sm {
			grid-template-columns: 1fr;
			row-gap: 1rem;
			justify-items: stretch;
		}
	}

	.nav-item {
		transform: translateY(-50%);
	}
	.nav-link {
		display: inline-block;
		padding: .5rem 3rem;
		border-radius: 2rem;
		color: black;
		transition: transform .2s, box-shadow .2s;
		border: none;

		@include sm {
			width: 100%;
		}

		&:hover {
			border-color: none;
		}

		&.active {
			transform: translateY(-.5rem);

			@include sm {
				transform: translateY(0);
				box-shadow: .1rem .1rem .2rem #555;
			}
		}

		&--1 {
			background-color: #ffcb03;
			&.active {
				background-color: #ffcb03;
				color: #000;
			}
		}

		&--2 {
			background-color: #5ec576;
			&.active {
				background-color: #5ec576;
				color: #000;
			}
		}

		&--3 {
			background-color: #ff585f;
			&.active {
				background-color: #ff585f;
				color: #000;
			}
		}
	}

	.tab-content {
		background-color: $color-primary;
		padding: 0rem 3rem 2rem;
	}

	&__content {
		display: grid;
		grid-template-columns: 8rem 1fr;
		align-items: center;

		@include sm {
			grid-template-columns: 1fr;
			row-gap: 1rem;
		}
	}

	&__icon {
		background-color: $color-quaternary;
		border-radius: 50%;
		width: 5rem;
		height: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;

		@include sm {
			display: none;
		}

		i {
			font-size: 3rem;
		}
	}

	&__title {
		font-size: 1.7rem;
		font-weight: 700;
	}

	&__text {
		grid-column: 2 / 3;

		@include sm {
			grid-column: unset;
		}
	}
}

// End of Section--2

// Section--3

.testimonials {
	max-width: 100rem;
	margin: 0 auto;

	.testimonial {
		width: 70%;
		margin: 4rem auto;
		position: relative;

		&::before {
			content: '\201C';
			position: absolute;
			top: -10rem;
			left: -5rem;
			font-size: 15rem;
			color: $color-primary;
		}

		&__title {
			font-size: 2rem;
			margin-bottom: $mb;
		}

		&__text {
			margin-bottom: 2rem;
		}

		&__author {
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: 1rem;
		}

		&__image {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			grid-row: 1 / span 2;
		}

		&__name {
			font-weight: 700;
		}

		&__location {
			grid-column: 2/3;
		}
	}

	.carousel {
		&__control {
			width: 4rem;
			height: 4rem;
			background-color: $color-quaternary;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__indicator {
			background-color: #b9b9b9;
			width: 1rem !important;
			height: 1rem !important;
			border-radius: 50%;

			&.active {
				background-color: #888;
			}
		}
	}
}

// End of Section--3

// Section--4

.section--4 {
	.sign-up {
		&__btn {
			padding: 2rem 4rem;
			border-radius: 3rem;
		}
	}
}

// End of Section--4

// Footer

.footer {
	width: 100%;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-bg;

	&__nav {
		list-style-type: none;
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;

		@include sm {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
			width: 100%;
		}
	}

	&__item:not(:last-child) {
		margin-right: 2.5rem;

		@include sm {
			margin: 0;
		}
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			transition: transform .3s;
			padding: .3rem .5rem;
			color: $color-black;
			text-decoration: none;
			color: $color-white;
		}
		&:hover,
		&:active {
			transform: rotate(5deg);
			box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, .5);
		}
	}

	&__logo {
		width: 6rem;
		margin-bottom: 3rem;
	}

	&__copyright {
		color: $color-white;

		a:link,
		a:visited {
			color: $color-white;
			transition: transform .2s, box-shadow .2s;
			display: inline-block;
			padding: .3rem 0;
		}

		a:hover,
		a:active {
			text-decoration: none;
			transform: rotate(5deg);
			box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, .5);
		}
	}
}

// End of Footer

// Responsive

// End of Responsive
